/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Background Website */
.background-website {
    background-image: url('https://files.catbox.moe/ak49rs.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding: 50px 0;
}

/* Kartu Nama */
#profile-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px; /* Untuk menggeser kartu nama sedikit ke atas */
}

.card-container {
    background-color: rgba(255, 255, 255, 0.7); /* Menambahkan latar belakang putih transparan */
    width: 90%;
    max-width: 800px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #333;
}

.card-content {
    display: flex;
    align-items: center;
    text-align: center;
}

.profile-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid white;
    margin-right: 30px;
}

.card-info h1 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 15px;
}

.card-info p {
    font-size: 18px;
    margin: 8px 0;
}

.card-info a {
    color: #FFD700;
    text-decoration: none;
}

.card-info a:hover {
    text-decoration: underline;
}

/* Media Queries for responsiveness */
@media screen and (max-width: 768px) {
    .card-container {
        flex-direction: column;
    }

    .card-info h1 {
        font-size: 24px;
    }

    .profile-img {
        width: 120px;
        height: 120px;
    }

    .card-info {
        font-size: 16px;
        text-align: center;
    }
}
